<h3>Merchants</h3>
<table style="width:100%">

  <tr>
    <th>Merchant</th>
    <th>Tags</th>
    <th>Total spent</th>
  </tr>

  <% @merchants.each do |merchant| %>
    <tr>
      <td><%= merchant.name() %></td>
      <td><em>Placehold</em><%# merchant.tags() %></td>
      <td><%= merchant.total_spent() %></td>
    </tr>
  <% end %>

</table>