<br>
<h3>Register Merchant</h3>
<br>
<form action="/merchants" method="post">
  <label for="name">Name</label>
  <input type="text" name="name">

  <input type="submit" value="Register Merchant">
</form>

<hr>
<hr>