<!DOCTYPE html>
<html>
  <head>
    <title>Money Cashboard</title>
  </head>
  <body>
    <h1>Money Cashboard</h1>
    <nav>
      <a href="/merchants">Show all merchants</a> |
      <a href="/transactions">Show all transactions</a> |
      <a href="/merchants/new">Register new merchant</a> |
      <a href="/transactions/new">Register new transaction</a>
    </nav>
    <%= yield %>
  </body>
</html>