<!DOCTYPE html>
<html>
  <head>
    <title>Money Cashboard</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="header">
      <a href="/" class="site_title"><br><h2>Money Cashboard</h2><br></a>
      <nav>
        <ul class="nav_list">
          <li class="nav_list_item"><a href="/merchants">Merchants</a></li>
          <li class="nav_list_item"><a href="/tags">Tags</a></li>
          <li class="nav_list_item"><a href="/transactions">Transactions</a></li>
          <li class="nav_list_item"><a href="/budget">Weekly Budgets</a></li>
          <li class="nav_list_item"><a href="/budget/new">Set budget</a></li>
          <li class="nav_list_item"><a href="/analysis">Spending analysis</a></li>
        </ul>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>