<!DOCTYPE html>
<html>
  <head>
    <title>Money Cashboard</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="header">
      <h2>Money Cashboard</h2>
      <nav>
        <a href="/merchants">Merchants</a> |
        <a href="/tags">Tags</a> |
        <a href="/transactions">Transactions</a> |
        <a href="/merchants/new">New merchant</a> |
        <a href="/tags/new">New tag</a> |
        <a href="/transactions/new">New transaction</a> 
      </nav>
    </div>
    <%= yield %>
  </body>
</html>