<!DOCTYPE html>
<html>
  <head>
    <title>Money Cashboard</title>
  </head>
  <body>
    <h1>Money Cashboard</h1>
    <nav>
      <a href="/merchants">Merchants</a> |
      <a href="/tags">Tags</a> |
      <a href="/transactions">Transactions</a> |
      <a href="/merchants/new">New merchant</a> |
      <a href="/tags/new">New tag</a> |
      <a href="/transactions/new">New transaction</a> 
    </nav>
    <%= yield %>
  </body>
</html>