<!DOCTYPE html>
<html>
  <head>
    <title>Money Cashboard</title>
  </head>
  <body>
    <h1>Money Cashboard</h1>
    <ul>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/transactions">Transactions</a></li>
    </ul>
    <%= yield %>
  </body>
</html>