<h3>Set budget</h3>

<form action="/budget" method="post">
  <label for="weekly_budget">Weekly budget</label>
  <input type="number" name="weekly_budget">

  <label for="week_number">Week number</label>
  <input type="number" name="week_number" min="1" max="53">

  <input type="submit" value="Set budget">  
</form>

<hr>
<hr>