<h3>Tags</h3>
<a href="/tags/new">New tag</a>
<hr>
<table style="width:100%">
  <tr>
    <th>Tag</th>
    <th>Total Spent</th>
    <th>Merchants</th>
  </tr>
  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.type() %></td>
      <td>£<%= tag.total_spent() %></td>
      <td>
        <% counter = 0 %>
        <% tag.merchants().each do |merchant| %>
          <% if counter == 0 %>
              <%= merchant.name() %>
          <% else %>
              | <%= merchant.name() %>
          <% end %>
          <% counter += 1 %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>