<h3>Tags</h3>
<table style="width:100%">
  <tr>
    <th>Tag</th>
    <th>Total Spent</th>
    <th>Merchants</th>
  </tr>
  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.type() %></td>
      <td><em>placeholder</em></td>
      <td><em>placedolder</em></td>
    </tr>
  <% end %>
</table>