<h3>Register Tag</h3>

<form action="/tags" method="post"></form>

<form action="/merchants" method="post">
  <label for="name">Name</label>
  <input type="text" name="name">

  <input type="submit" value="Register Merchant">
</form>

<hr>
<hr>