<br>
<h3>Transaction Registered</h3>
<br>
<p>Value: £<%= @transaction.value() %></p>
<p>Merchant: <%= @transaction.merchant().name() %></p>
<p>Type of purchase: <%= @transaction.tag().type() %></p>
<p>Date conducted: <%= @transaction.date_conducted() %></p>