<h3>Transactions</h3>
<table style="width:100%">
  <tr>
    <th>Merchant</th>
    <th>Type of Purchase</th>
    <th>Value</th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.merchant().name() %></td>
      <td><%= transaction.tag() %></td>
      <td>£<%= transaction.value() %></td>
    </tr>
  <% end %>
</table>