<h3>Rgister Transaction</h3>

<form action="/transactions" method="post">
  <label for="merchant_id">Select merchant</label>
  <select name="merchant_id">
    <% @merchants.each do |merchant| %>
      <option value=<%= merchant.id() %>><%= merchant.name() %></option>
    <% end %>
  </select>

  <label for="tag_id">Type of purchase</label>
  <select name="tag_id">
    <% @tags.each do |tag| %>
      <option value=<%= tag.id() %>><%= tag.type() %></option>
    <% end %>
  </select>

  <label for="value">Value</label>
  <input type="number" name="value">

  <input type="submit" value="Register transaction">
</form>

<hr>
<hr>