<h3>Selected Transaction</h3>

<p>Value: £<%= @transaction.value() %></p>
<p>Merchant: <%= @transaction.merchant.name() %></p>
<p>Type of purchase: <%= @transaction.tag() %></p>
<p>Date conducted: <%= @transaction.date_conducted() %></p>